* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}
body::-webkit-scrollbar-track {
  background: #cecece;
  border: 1px solid #000;
  border-radius: 10px;
}
body::-webkit-scrollbar-thumb {
  background: #1ed760;
  height: 70px;
  border-radius: 10px;
}
body::-webkit-scrollbar-thumb:hover {
  background: #2e3a46;
}
body::-webkit-scrollbar {
  width: 5px;
  height: 4px;
}

header {
  width: 100%;
  height: 70px;
  background-color: #2e3a46;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
header .container {
  max-width: 1170px;
  height: 100%;
  margin: 0 auto;
}
header .box-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
header img {
  height: 50px;
}
header .box-text {
  color: #adff2f;
}

main {
  width: 100%;
  height: 100%;
  padding: 140px 0 100px;
  background-color: #1E2D3B;
}
main .container {
  max-width: 1170px;
  height: 100%;
  margin: 0 auto;
}
main .box-album {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}
main .box-album .box-item-album {
  width: 260px;
  height: 400px;
  color: #fff;
  text-align: center;
  margin: 15px 15px;
  padding: 20px;
  background-color: #000;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
}
main .box-album .box-item-album .box-img {
  width: 100%;
  height: 200px;
}
main .box-album .box-item-album .box-img img {
  width: 100%;
  height: 100%;
}
main .box-album .box-item-album .box-title {
  width: 100%;
  color: #cecece;
}
main .box-album .box-item-album .box-info {
  width: 100%;
  margin: 20px 0;
}
main .box-album .box-item-album .box-info p {
  line-height: 2;
}

footer {
  width: 100%;
  height: 60px;
  background-color: #2e3a46;
}
footer .container {
  max-width: 1170px;
  height: 100%;
  margin: 0 auto;
}
footer .footer-box {
  height: 100%;
  color: #1ed760;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
footer .footer-box .box-left ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  list-style: none;
}
footer .footer-box .box-left ul li a {
  color: #1ed760;
  margin-right: 15px;
  text-decoration: none;
}

.m-t-10 {
  margin-top: 10px;
}

.m-t-20 {
  margin-top: 20px;
}

.m-t-30 {
  margin-top: 30px;
}

.m-t-40 {
  margin-top: 40px;
}

.m-t-50 {
  margin-top: 50px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-b-30 {
  margin-bottom: 30px;
}

.m-b-40 {
  margin-bottom: 40px;
}

.m-b-50 {
  margin-bottom: 50px;
}

.p-t-10 {
  padding-top: 10px;
}

.p-t-20 {
  padding-top: 20px;
}

.p-t-30 {
  padding-top: 30px;
}

.p-t-40 {
  padding-top: 40px;
}

.p-t-50 {
  padding-top: 50px;
}

.p-b-10 {
  padding-bottom: 10px;
}

.p-b-20 {
  padding-bottom: 20px;
}

.p-b-30 {
  padding-bottom: 30px;
}

.p-b-40 {
  padding-bottom: 40px;
}

.p-b-50 {
  padding-bottom: 50px;
}
