header{
    width: $widthAll;
    height: $headerHeight;
    background-color: $darkGray;
    position: fixed;
    top: 0;
    left:0;
    z-index: 1;
    @include container;
    .box-header{
        @include flex(space-between);
    }
    img{
        height: 50px;
    }
    & .box-text{
        width: 40%;
        color:$lightYellow;
        @include flex(space-around);
    }
    h3{
        margin-right: 15px;
    }
    select{
        width: 30%;
        padding: 2px 5px;
    }

}