// colors
$darkGray: rgb(46, 58, 70);
$darkBlue: #1E2D3B;
$colorWhite: #fff;
$colorBlack: #000;
$lightGrey: #cecece;
$lightYellow: #adff2f;

// height and width
$headerHeight: 70px;
$footerHeight: 50px;
$widthContain: 1170px;
$widthAll: 100%;
$heightAll: 100%;